<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- @csstools/Normalize CSS -->
    <link href="https://unpkg.com/@csstools/normalize.css" rel="stylesheet" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <title>djangoDelight</title>
</head>

<body>
{% load static %}
<div class="container">
    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #007500">
      <a class="navbar-brand" href="#">djangoDelight</a>
        <div class="navbar-nav">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
            <a class="nav-link" href="{% url 'ingredientlist' %}">Ingredients</a>
            <a class="nav-link" href="{% url 'menuitemlist' %}">Menu items</a>
            <a class="nav-link" href="{% url 'purchaselist' %}">Purchases</a>
            <a class="nav-link" href="{% url 'profit_report' %}">Report</a>
            <a class="nav-link" href="{% url 'logout' %}">Log out</a>
        </div>
    </nav>

        {% block content %}
        {% endblock %}
</div>
</body>
