<!--TODO: have the form start from 1 RecipeRequirement item and include a button to add more  -->
<!--TODO: have the MenuItem name & price in the formset also be editable-->
<!--TODO: have the MenuItem creation use the same form as update-->
{% extends './base.html' %}
{% block content %}
<h2 class="m-3">Update Menuitem</h2>
<form method="post">
    {% csrf_token %} {{ formset.management_form }}
    <table class="table table-sm" style="max-width: 400px">
        <tr>
            <td style="width:50%">MenuItem Name: </td><td style="width:50%" class="text-right">{{name}}</td>
        </tr>
        <tr>
            <td>Price: </td><td class="text-right">${{price}}</td>
        </tr>
    {% for form in formset %}
        {{ form.id }}
        <tr>
            <td>{{ form.amount }}</td>
            <td class="text-right">{{ form.ingredient }}</td>
        </tr>
    {% endfor %}
    </table>
    <input type="submit" class="btn btn-outline-success" value="Submit" />
    <button type="button" onclick="history.back()" class="btn btn-outline-primary">Cancel</button>
</form>
{% endblock %}