{% extends './base.html' %}
{% block content %}
<h2 class="m-3">Ingredient List</h2>
<table class="table" id="ingredients">
    <thead>
      <tr>
        <th class="text-right" style="width:13%">Qty</th>
        <th style="width:7%">Unit</th>
        <th style="width:40%">Name</th>
        <th class="text-right" style="width:15%">Unit Price</th>
        <th style="width:25%"></th>
      </tr>
    </thead>
    <tbody>
  {% for i in ingredient_list %}
  <tr>
      <td class="text-right">{{ i.quantity }}</td>
      <td>{{ i.unit }}</td>
      <td>{{ i.name }}</td>
      <td class="text-right">${{ i.unit_price }}</td>
      <td class="text-center">
          <a href="{% url 'ingredientupdate' i.id %}">
              <button type="button" class="btn btn-outline-success">Edit</button>
          </a>
          <a href="{% url 'ingredientdelete' i.id %}">
              <button type="button" class="btn btn-outline-success">Delete</button>
          </a>
      </td>
  </tr>
  {% endfor %}
    </tbody>
</table>
<div class="m-3">
    <a href="{% url 'ingredientcreate' %}">
        <button class="btn btn-outline-primary">Add Ingredient</button>
    </a>
</div>

{% endblock %}