{% extends './base.html' %}
{% block content %}
<h2>MenuItem List</h2>
<a href="{% url 'menuitemcreate' %}"><button class="btn">Add MenuItem</button></a>
<table id="menuitems">
  <tr>
    <th>Name</th>
    <th>Sale price</th>
    <th>Cost</th>
    <th></th>
    <th></th>
  </tr>
  {% for i in menuitem_list %}
  <tr>
      <td>{{ i.name }}</td>
      <td>${{ i.price }}</td>
      <td>${{ i.cost }}</td>
      <td><a href="{% url 'formset' i.id %}"><button>Edit</button></a></td>
<!--      <td><a href="{% url 'menuitemdelete' i.id %}"><button>Delete</button></a></td>-->
  </tr>
  {% endfor %}
</table>
{% endblock %}