{% extends './base.html' %}
{% block content %}
<h2 class="m-3">Profit report</h2>
<table class="table table-sm" style="max-width: 400px" id="profit_report">
    <thead>
      <tr>
        <th class="text-right">Date</th>
        <th class="text-right">Revenue</th>
        <th class="text-right">Cost</th>
        <th class="text-right">Profit</th>
      </tr>
    </thead>
    <tbody>
  {% for i in report %}
  <tr>
      {% for j in i %}
      <td class="text-right">{{ j }}</td>
      {% endfor %}
  </tr>
  {% endfor %}
    <tr>
        <td></td><td></td><td></td><td></td>
    </tr>
    <tr>
        <td>Total revenue:</td>
        <td class="text-right">${{total_revenue}}</td>
        <td></td><td></td>
    </tr>
    <tr>
        <td>Total cost:</td>
        <td class="text-right">${{total_cost}}</td>
        <td></td><td></td>
    </tr>
    <tr>
        <td>Total profit:</td>
        <td class="text-right">${{total_profit}}</td>
        <td></td><td></td>
    </tr>
    </tbody>
</table>

{% endblock %}