{% extends './base.html' %}
{% block content %}
<h2 class="m-3">Purchase List</h2>
<table class="table" id="purchases">
    <thead>
        <tr>
            <th>Date</th>
            <th>Num</th>
            <th>Menu Item</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
  {% for i in purchase_list %}
  <tr>
      <td>{{ i.date }}</td>
      <td>{{ i.amount }}</td>
      <td>{{ i.menuitem }}</td>
      <td class="text-center">
          <a href="{% url 'purchaseupdate' i.id %}">
              <button type="button" class="btn btn-outline-success">Edit</button>
          </a>
          <a href="{% url 'purchasedelete' i.id %}">
              <button type="button" class="btn btn-outline-success">Delete</button>
          </a>
      </td>
  </tr>
  {% endfor %}
    </tbody>
</table>
<a href="{% url 'purchasecreate' %}">
    <button class="btn btn-outline-primary">Add Purchase</button>
</a>
{% endblock %}